# Visual Studio ve .NET klasörleri
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.vshost.*

appsettings.Development.json
appsettings.json

# Kullanıcı tarafından yüklenen dinamik dosyalar (Fotoğraflar vb.)
wwwroot/uploads/
wwwroot/images/

# İşletim sistemi ve log artıkları
.DS_Store
*.log
Thumbs.db

# Yapay Zeka Modelleri (Büyük Dosyalar)
*.onnx

# Kullanıcı tarafından yüklenen dinamik dosyalar (Fotoğraflar, loglar vb.)
wwwroot/uploads/
wwwroot/images/
wwwroot/files/


