# Visual Studio ve .NET
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo

appsettings.Development.json
appsettings.json

# Kullanıcı tarafından yüklenen dinamik dosyalar (Fotoğraflar vb.)
wwwroot/uploads/
wwwroot/images/

# İşletim sistemi ve log artıkları
.DS_Store
*.log